---
import { type Post, getStyle } from "../lib/postUtils";

interface Props {
    index: number;
    post: Post;
}

const { index, post } = Astro.props as Props;

const [cornerColor] = getStyle(post.data.category);
---

<article
    id={`slide-${index}`}
    class="relative z-10 group snap-center shrink-0
    w-full md:w-2/3 lg:w-1/2
    border-3"
>
    <div
        class="absolute top-0 left-0 w-0 h-0 border-t-0 border-r-0 group-hover:border-t-[25px] group-hover:border-r-[25px]"
        style={`border-top-color: ${cornerColor}; border-right-color: transparent; transition: all;`}
    >
    </div>
    {/* Cover Image */}
    {
        post.data.coverImage && (
            <img
                src={post.data.coverImage}
                alt={post.data.title}
                class="absolute z-20 top-0 left-0 w-full h-48 object-contain"
            />
        )
    }
    <div
        class="absolute z-10 bottom-0 mt-48 bg-secondary border-t-3 border-black w-full
                px-4 md:px-6 py-1 flex flex-col"
    >
        <h3 class="text-lg font-bold">
            {post.data.title}
        </h3>
        <p class="text-sm">
            {post.data.description}
        </p>
    </div>
</article>
